<h1>Find and replace</h1>

<form action="/results">
  <div class="form-group">
    <label for="string">Enter sentence to search</label>
    <input id="string" class="form-control" name="string" type="text">
    <label for="find">Enter a word to find</label>
    <input id="find" class="form-control" name="find" type="text">
    <label for="replace">Enter a word to replace</label>
    <input id="replace" class="form-control" name="replace" type="text">
  </div>
  <button type="submit" name="submit" class="btn btn-success">Submit</button>
</form>
